*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #000000;
    color: #fff;
}

#header{
    width: 100;
    height: 100vh;
    background-image: url(background1.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: calc(100% + 175px) 125px;
}
.container{
    padding:10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 175px;
    height: auto;
    display: block;
    margin: 5;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.wrapper{
    display: inline-flex;
}
.wrapper .dynamic-texts{
    margin-left: 15px;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
}

.dynamic-texts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 50px;
    position: relative;
    top: 0;
}

.dynamic-texts li span{
    position: relative;
}

.dynamic-texts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    border-left: 2px solid #FC6D6D;
    top: 0;
    animation: typing 3s steps(14) infinite;
}
@keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.header-text{
    margin-top: 0;
    font-size: 20pxx; 
}
.header-text h1{
    font-size: 70px;
    margin-top: 80px;
}
.yellow-text{
    color:  #ffd54f;
}
.red-text{
    color: #ff004f;
}
.first-page {
    font-size: 15px; 
}

/*----------------about-----------*/
#about{
    padding: 150px 0px;
    color: #ffffff
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 30px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------portfolio------ */
#portfolio{
    padding: 120px 0%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1)
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}
.fab.fa-linkedin {
    font-size: 36px; 
    color: #0077B5;  
    transition: color 0.3s ease; 
}

.fab.fa-linkedin:hover {
    color: #006699;  
}

/* -----philosophy---- */
#services{
    padding: 0px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px)
}

/* --------contact--------- */
#contact{
    padding: 150px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px
}
.btn.btn2{

    display:inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px; 
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color: #61b752;
    margin-top: 20px;
    display: block;
}